<% include ../partials/header %>

  <% include ../partials/navbar %>


    <div class="container">

      <div class="row">


        <div class="container">
          <div class="col s12 tasksDiv">



            <table id='tasksTable'>

              <thead>
                <tr>
                  <td>
                    <h5 class="table-title">Edit Tasks</h5></td>
                  <td class="center">Priority</td>
                  <td class='center'> </td>
                  <td class="center">Count</td>
                  <td class="center">Reset Count</td>
                  <td class="center">Delete Task</td>
                </tr>
              </thead>

              <tbody>
                <% for(let i = 0; i < userTasks.length; i++) { %>

                  <% if(!userTasks[i].is_habit) { %>

                    <tr id="taskRow_<%=userTasks[i].id%>">
                          <td>
                          <input class='browser-default taskDescription' type='text' id='tdescrip_<%=userTasks[i].id %>' value='<%=userTasks[i].description %>'>


                      </td>

                      <td>


                        <select class="browser-default taskPriority" id='tpriority_<%=userTasks[i].id%>'>

                      <%if(userTasks[i].priority === 2){ %>
                        <option value='0'>Low</option>
                        <option value='1'>Med</option>
                        <option value='2' selected>High</option>

                      <%} else if(userTasks[i].priority === 1) {%>

                        <option value='0'>Low</option>
                        <option value='1' selected>Med</option>
                        <option value='2'>High</option>

                      <%} else { %>

                        <option value='0' selected>Low</option>
                        <option value='1'>Med</option>
                        <option value='2'>High</option>

                      <%} %>

                      </select>

                      </td>

                      <td class='center'>

                        <a class="waves-effect waves-light btn updateTaskBtn" id="tupdate_<%=userTasks[i].id%>" disabled>Save</a>

                      </td>

                      <td class="center">

                        <span id="count_<%=userTasks[i].id%>"><%=userTasks[i].completed_count%></span>

                      </td>



                      <td class='center'>

                      <% if (userTasks[i].completed_count === 0){ %>
                        <a class="waves-effect waves-light btn resetTaskBtn" id="treset_<%=userTasks[i].id%>" disabled>Reset</a>
                      <%} else { %>
                        <a class="waves-effect waves-light btn resetTaskBtn" id="treset_<%=userTasks[i].id%>">Reset</a>

                      <%}%>

                      </td>



                      <td class='center'>
                        <a class="waves-effect waves-light btn deleteTaskBtn" id="tdel_<%=userTasks[i].id%>"><i class="material-icons">delete</i></a>
                      </td>


                    </tr>
                    <% } %>

                  <%} %>


              </tbody>
            </table>



          </div>
        </div>
      </div>



      <div class="row">
        <div class="container">
          <div class="col s12 rewardsDiv">

            <table id="rewardsTable">
              <thead>
                <tr>
                  <td><h5 class="table-title">Edit Rewards</h5></td>
                  <td class='center'>Value</td>
                  <td class='center'>Redeemed?</td>
                  <td class='center'></td>
                  <td class='center'>Delete Reward</td>
                </tr>
              </thead>

              <tbody>
                <% for(let i = 0; i < userRewards.length; i++) { %>

                  <tr id="rewardRow_<%=userRewards[i].id%>">

                  <% if(userRewards[i].redeemed) { %>

                      <td>
                        <input class='browser-default rewardDescription redeemed' type='text' id='rdescrip_<%=userRewards[i].id%>' value=' <%=userRewards[i].description%>' disabled>
                      </td>
                      <td class='center'>
                        <input class='browser-default rewardValue redeemed' type='number' id='rvalue_<%=userRewards[i].id%>' value='<%=userRewards[i].value%>' disabled>
                      </td>

                  <%} else { %>

                      <td>
                        <input class='browser-default rewardDescription' type='text' id='rdescrip_<%=userRewards[i].id%>' value='<%=userRewards[i].description%>'>
                      </td>
                      <td class='center'>
                        <input class='browser-default rewardValue' type='number' id='rvalue_<%=userRewards[i].id%>' value='<%=userRewards[i].value%>'>
                      </td>

                  <% }%>

                  <td class='center'>
                  <%= (userRewards[i].redeemed) ? 'yes' : 'no';%>
                  </td>






                    <td class='center'>

                    <a class="waves-effect waves-light btn updateRewardBtn" id="rupdate_<%=userRewards[i].id%>" disabled>Save</a>

                    </td>


                    <td class='center'>

                    <a class="waves-effect waves-light btn deleteRewardBtn" id="rdel_<%=userRewards[i].id%>"><i class="material-icons">delete</i></a>

                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>



          </div>
        </div>


      </div>


      <div class="row">


        <div class="container">
          <div class="col s12 tasksDiv">



            <table id='habitsTable'>

              <thead>
                <tr>
                  <td>
                    <h5 class="table-title">Edit Habits</h5></td>

                  <td class="center">Delete</td>
                  <td class='center'>Restore to Tasks</td>
                </tr>
              </thead>

              <tbody>
                <% for(let i = 0; i < userTasks.length; i++) { %>

                  <% if(userTasks[i].is_habit){ %>
                    <tr id="taskRow_<%=userTasks[i].id%>">
                        <td>
                            <%=userTasks[i].description%>


                        </td>




                        <td class='center'>
                          <a class="waves-effect waves-light btn deleteTaskBtn" id="hdel_<%=userTasks[i].id%>"><i class="material-icons">delete</i></a>
                        </td>

                        <td class='center'>

                          <a class="waves-effect waves-light btn resetTaskBtn" id="treset_<%=userTasks[i].id%>">Restore</a>

                        </td>
                      </tr>
                  <%}%>


                  <% } %>
              </tbody>
            </table>



          </div>
        </div>
      </div>

      <%# <div class="row center">

        <div class="container">

          <div class="col s12">



            <a href="#"><span id="showRewards">Manage rewards > </span></a>
          </div>


          <div class="col s12">

            <a href="#"><span id="showTasks">< Manage tasks</span></a>
          </div>

        </div>

      </div>%>


      <div>

<% include ../partials/footer %>
