<% include ../partials/header %>

  <% include ../partials/navbar %>

    <div class="container">

      <div class="row">


        <div class="container">
          <p id="quotePlaceholder" class='center'>

          </p>
          <p class="right" id='dismissQuote'>dismiss</p>
          <div class="col s12 tasksDiv">



            <table id='tasksTable'>

              <thead>
                <tr>
                  <td>
                    <h5 class="table-title">My Tasks</h5> <a class="btn-floating waves-effect waves-light addBtn" id="addTaskBtn" href="/tasks/add"><i class="material-icons">add</i></a></td>
                  <td class="center">I did it!</td>
                </tr>
              </thead>

              <tbody>
                <% let totalTaskCount = 0; %>

                  <% for(let i = 0; i < userTasks.length; i++) { %>
                    <% totalTaskCount += userTasks[i].completed_count %>
                    <%if(!userTasks[i].is_habit){ %>

                        <tr id="taskRow_<%=userTasks[i].id%>">
                          <td>

                          <% if(userTasks[i].priority === 'high') {%>
                              <span class="new badge red darken-3 left" data-badge-caption='high'></span>
                          <%} else if(userTasks[i].priority === 'med') { %>
                                <span class="new badge amber darken-3 left " data-badge-caption='med'></span>
                          <%} else { %>
                                  <span class="new badge amber accent-3 left" data-badge-caption='low'></span>
                                  <%}%>


                            <%=userTasks[i].description %>
                          </td>



                          <td class='center'>
                            <a class="waves-effect waves-light btn completeBtn" id="task_<%=userTasks[i].id%>"><i class="material-icons">done</i></a>
                          </td>
                        </tr>
                        <% } %>
                  <%   } %>


                    </tbody>
            </table>

            <span id='totalTaskCount' class='hide'><%=totalTaskCount%></span>



          </div>
        </div>
      </div>



      <div class="row">
        <div class="container">
          <div class="col s12 rewardsDiv">

            <table id="rewardsTable">
              <thead>
                <tr>
                  <td>
                    <h5 class="table-title">My Rewards</h5> <a class="btn-floating waves-effect waves-light addBtn" id="addRewardBtn" href="/rewards/add"><i class="material-icons">add</i></a></td>
                  <td class='center'>Progress</td>
                  <td class='center'>Redeem</td>
                </tr>
              </thead>

              <tbody>
                <% for(let i = 0; i < userRewards.length; i++) { %>

                  <%if(!userRewards[i].redeemed){ %>
                    <tr id="rewardRow_<%=userRewards[i].id%>">
                      <td>
                        <%=userRewards[i].description %>
                      </td>
                      <td class='center'>
                        <span class="rprogress"><%=totalTaskCount%></span> /
                          <span class="rvalue" id='<%=userRewards[i].id%>'><%=userRewards[i].value%></span>

                      </td>
                      <td class='center' id="redeemPlaceholder">

                      <% if(totalTaskCount < userRewards[i].value) { %>
                        <a class="waves-effect waves-light btn redeemBtn" id="reward_<%=userRewards[i].id%>" disabled><i class="material-icons">thumb_up</i></a>

                        <%} else { %>
                          <a class="waves-effect waves-light btn redeemBtn" id="reward_<%=userRewards[i].id%>"><i class="material-icons">thumb_up</i></a>
                          <%}%>


                      </td>
                    </tr>

                  <%}%>

                  <% } %>
              </tbody>
            </table>



          </div>
        </div>


      </div>

      <%# <div class="row center">

        <div class="container">

        <div class="col s12">



        <a href="#"><span id="showRewards">View rewards > </span></a>
        </div>


        <div class="col s12">

        <a href="#"><span id="showTasks">< View tasks</span></a>
        </div>

        </div>

      </div>%>


    <div>


<% include ../partials/footer %>
